h1 {
    color:blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color:red;
}
div {
    background-color:bisque;
    width: 500px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
}
#foo {
    color:green
}
.baz {
    color:purple
}